.login-area{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.log-2 h1{
    color: #333;
}
.log-1 h2{
    font-size: 40px;
}

.login-nav{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}

.log-1{
    width: 50%;
    height: 100vh;
    background-color: #111;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    padding: 0px 200px 0px 100px;
    background-image: url("../../assets/images/wallpaper.png");
    background-position: flex-start;
}

.log-1 h1{
    font-size: 50px;
    font-weight: 900;
}

.log-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.login-nav a{
    color: #fff;
}


.login-container{
    background-color: #111;
    color: #fff;
    width: 500px;
    height: 500px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.login-container button{
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #111;
    font-weight: 800;
}

.inputarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
}

.inputarea input{
    width: 400px;
    height: 40px;
    padding-left: 20px;
    background-color: #111;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
}


.inputarea p{
    position: absolute;
    padding: 0px 10px;
    margin-left: 2px;
    background-color: #111;
    transition: 0.5s;
    pointer-events: none;
    user-select: none;
}

.inputarea input:focus ~ p{
    transform: translate(10%, -100%);
}


