footer{
    width: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}


.footernames{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.f1{
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.f1:first-child{
    text-align: start;
}

.f1:last-child{
    text-align: end;
}

.f1 h4{
    font-weight: 900;
}

.f1 p{
    font-weight: 200;
    margin-top: 2px;
    cursor: pointer;
}

.f1 a{
    text-decoration: none;
    color: #fff;
    margin-top: 2px;
}



