footer{
    width: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}


.footernames{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.f1{
    width: 25%;
    text-align: center;
}

.f1:first-child{
    text-align: start;
}

.f1:last-child{
    text-align: end;
}