.paymentContainer{
    background-color: rgb(202, 201, 201);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.informs{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.row1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.rowText{
    display: flex;
    align-items: center;
}

.rowText img{
    width: 30px;
    margin-left: 5px;
}

.inputsInformations{
    display: flex;
    flex-direction: column;
}


.inputsInformations p{
    margin: 0;
    padding: 0;
    margin-left: 4px;
    position: absolute;
    transition: 0.2s;
    pointer-events: none;
    background-color: #fff;
    padding: 2px;
}

.inputsInformations input{
    width: 500px;
    height: 40px;
    margin: 10px 0px;
    outline: none;
    background-color: transparent;
    border: 1px solid black;
    
}

.inputs{
    display: flex;
    align-items: center;
}

.inputs input:focus ~ p, .inputs input:valid ~ p{
    transform: translate(20%, -100%);
}



input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


.row2{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 40vw;
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    margin-top: 20px;
}