.paymentContainer{
    background-color: rgb(202, 201, 201);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.paymentContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: auto;
}

.informs{
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}

.row1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    height: fit-content;
}

.rowText{
    display: flex;
    align-items: center;
}

.rowText img{
    width: 30px;
    margin-left: 5px;
}

.inputsInformations{
    display: flex;
    flex-direction: column;
}


.inputsInformations p{
    margin: 0;
    padding: 0;
    margin-left: 4px;
    position: absolute;
    transition: 0.2s;
    pointer-events: none;
    background-color: #fff;
    padding: 2px;
}

.inputsInformations input{
    width: 500px;
    height: 40px;
    margin: 10px 0px;
    outline: none;
    background-color: transparent;
    border: 1px solid black;
    
}

.inputs{
    display: flex;
    align-items: center;
}

.inputs input:focus ~ p, .inputs input:valid ~ p{
    transform: translate(0%, -85%);
}



input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


.row2{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    margin-top: 20px;
}

.column1{
    background-color: #fff;
    width: 20vw;
    position: relative;
    border-radius: 20px;
    margin-top: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
}


.column1 h2{
    padding: 10px 20px;
    font-size: 30px;
    margin: 10px 0px;
   
}

.column1 p{
    padding: 10px 20px;
    font-weight: 200;
}

.subTotal{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subTax{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total{
    background-color: #333;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px 20px;
}

.total h5{
    font-weight: 900;
}

.total h4{
    font-weight: 200;
}

.column1 button{
    height: 50px;
    background-color: orange;
    border: none;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 0px 0px 20px 20px;
    transition: 0.1s;
}

.column1 button:hover{
    background-color: rgb(218, 141, 0);
}


@media (max-width: 1920px){
    .inputsInformations input {
        width: 100%;
    }

    .row1, .row2, .column1{
        width: 30%;
    }
}


@media (max-width: 1264px){
    .rowText h1{
        font-size: 20px;
    }
    .column1 h2 {
        font-size: 20px;
        
    }
}

@media (max-width: 940px){
    .informs{
        flex-direction: column;
    }

    .row1, .row2, .column1{
        width: 100%;
    }
}