.container-area{
    width: 100%;
    height: 100vh;
    background-color: rgb(202, 201, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}






.carrinho-area{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: flex-start;
    height: 100vh;
}

.cart-text{
    display: flex;
    width: 90%;
    margin-top: 10vh;
    margin-bottom: 20px;
}


.side1, .side2{
    background-color: #fff;
    width: 48%;
    border-radius: 5px;
    padding: 20px;
}

.side1{
    display: flex;
    flex-direction: column;
}

.side2{
}


.item{
    display: flex;
    width: 100%;
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #999;
}

.item img{
    width: 150px;
    height: 150px;
}

.item-options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.items-qtd{
    display: flex;
}

.items-qtd p{
    color: #333;
    font-weight: 200;
}

.items-qtd button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0px 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    font-weight: 900;
}

.more{
    display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.more img{
    width: 20px;
    height: auto;
    cursor: pointer;
}

.money{
    display: flex;
    font-weight: 400;
    color: #333;
}

.cep{
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted #333;
    padding: 10px 20px;
}

.cep input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-top: 1px solid 		#0047AB;
    border-left: 1px solid		#0047AB;
    border-bottom: 1px solid		#0047AB;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}

.cepcalc{
    width: 100%;
    display: flex;
}

.cepcalc button{
    width: 200px;
    border-right: 1px solid	#0047AB;
    border-top: 1px solid 	#0047AB;
    border-bottom: 1px solid 	#0047AB;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    background-color: 	#0047AB;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}


.resume{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.resume p{
    font-size: 30px;
    font-weight: 600;
}

.resumetext{
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 20px;
}

.resumetext p{
    font-size: 20px;
    color: #222;
    font-weight: 900;
    margin: 8px 0px;
}

.buy{
    border-top: 1px dotted #333;
}

.buy button{
    margin-top: 20px;
    width: 100%;
    background-color: #228B22;
    border: none;
    color: #fff;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
}

.sacolavazia{
    display: flex;  
    align-items: center;
    animation-name: sacolavazia;
    animation-duration: 2s;
    animation-direction:normal;
    filter: opacity(100);
}


.sacolavazia img{
    width: 64px;
}

.sacolavazia p{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}


@keyframes sacolavazia{
    0%{
        filter: opacity(0)
    }

    100%{
        filter: opacity(100);
    }
}

