.container-area{
    width: 100%;
    height: 93vh;
    background-color: rgb(202, 201, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.carrinho-area{
    display: flex;
    justify-content: space-between;
    
    width: 90%;
}

.cart-text{
    display: flex;
    width: 90%;
    margin-top: 10vh;
    
}


.side1, .side2{
    background-color: #fff;
    width: 48%;
    border-radius: 5px;
    padding: 20px;
}

.side1{
    display: flex;
    flex-direction: column;
}


.item{
    display: flex;
    width: 100%;
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #999;
}

.item img{
    width: 150px;
    height: 150px;
}

.item-options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.items-qtd{
    display: flex;
}

.items-qtd p{
    color: #333;
    font-weight: 200;
}

.items-qtd button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0px 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    font-weight: 900;
}

.more{
    display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-around;
    
}

.more img{
    width: 20px;
    height: auto;
    cursor: pointer;
}

.money{
    display: flex;
    font-weight: 400;
    color: #333;
}

.cep{
    display: flex;
    flex-direction: column;
    border: 1px dotted #333;
    padding: 10px 20px;
}

.cep input{
    width: auto;
    height: 30px;
    border: 1px solid black;
}